version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: bombava_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: bombava_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: bombava_adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
